.about {
    padding: 20px 0;
    text-align: center;
  }
  
  .about .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about h2 {
    font-size: 2em;
  }
  
  .about p {
    font-size: 1.2em;
  }
  